<div class="mainAreaTopLeft">
    <ul id="tabTitles" class="tabTitles">
        <li id="tabLiveSchedule" class="active">live schedule</li>
        <li id="tabBiography">biography</li>
        <li id="tabDiscography" class="tabDisabled">discography(準備中)</li>
        <!-- <li id="tabBlog">blog</li> -->
    </ul>
    <div id="tabContents" class="tabContents">
        <ul>
            <li id="liveSchedule" class="liveSchedule tabContentsLi"></li>
            <li id="biography" class="biography tabContentsLi">
                <dl>
                    <dt>
                     「侘び・寂び」などの世界観をテーマとした楽曲制作、弾き語りによるライブ活動を行なうソロアーティスト。<br>
                    主に、東京・神奈川にて活動をしている。打ち込みなど交えた音源を制作したり、webの仕事をしているため、本サイトの制作なども行っている。<br>
                    1989年生まれの山羊座。<br><br>
                    SNS<br>
                    <a href="" data-scrollLink="twitterArea">・Twitter</a><br>→ライブ情報など、随時更新。
                    </dt>
                    <!-- <dd> <span>音源の試聴</span><br>
                    ▹<a href="https://myspace.com/tsuyukusa" target="_blank">myspace</a><br>
                    </dd>
                    <dd> <span>その他SNS</span><br>
                    ▹<a href="https://www.facebook.com/tsuyukusa.music" target="_blank">facebook</a><br>
                    ▹<a href="./blog/index.php" target="_blank">Blog</a><br>
                    </dd> -->
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="mainAreaTopRight"><img src="/img/main_01.jpg" alt=""></div>
