<div class="mainAreaTopLeft">
    <ul id="tabTitles" class="tabTitles">
        <li id="tabLiveSchedule" class="active">live schedule</li>
        <li id="tabBiography">biography</li>
        <li id="tabBlog">blog</li>
    </ul>
    <div id="tabContents" class="tabContents">
        <ul>
            <li id="liveSchedule" class="liveSchedule tabContentsLi"></li>
            <li id="biography" class="biography tabContentsLi">
                <dl>
                    <dt> 「侘び・寂び」などの世界観をテーマとした楽曲制作、弾き語りによるライブ活動を行なうアーティスト。<br>
                    主に、渋谷を拠点にしている。音源は、打ち込みを交えたものを自主制作。<br>
                    </dt>
                    <dd> <span>音源の試聴</span><br>
                    ▹<a href="https://myspace.com/tsuyukusa" target="_blank">myspace</a><br>
                    </dd>
                    <dd> <span>その他SNS</span><br>
                    ▹<a href="https://www.facebook.com/tsuyukusa.music" target="_blank">facebook</a><br>
                    ▹<a href="./blog/index.php" target="_blank">Blog</a><br>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="mainAreaTopRight"><img src="/img/main_01.jpg" alt=""></div>
