<ul class="accordion">
  <li class="biography">
    <h3>Biography</h3>
    <dl>
      <dt> 「侘び・寂び」などの世界観をテーマとした楽曲制作、弾き語りによるライブ活動を行なうアーティスト。<br>
        主に、渋谷を拠点にしている。音源は、打ち込みを交えたものを自主制作。<br>
      </dt>
      <dd> <span>音源の試聴</span><br>
        &#9657;<a href="https://myspace.com/tsuyukusa" target="_blank">myspace</a><br>
      </dd>
      <dd> <span>その他SNS</span><br>
        &#9657;<a href="https://www.facebook.com/tsuyukusa.music" target="_blank">facebook</a><br>
        &#9657;<a href="./blog/index.php" target="_blank">Blog</a><br>
      </dd>
      <dd class="biographyImg"> <img src="img/biography.jpg" alt=""> </dd>
    </dl>
  </li>
  <li class="information">
    <h3>Various information</h3>
    <dl>
      <dt>コンテンツ追加（2015/05/11）</dt>
      <dd class="informationTxt">Songsに『ムービースター』を追加</dd>
      <dt>コンテンツ追加（2015/04/18）</dt>
      <dd class="informationTxt">過去のスケジュール一覧追加</dd>
      <dt>コンテンツ追加（2014/12/20）</dt>
      <dd class="informationTxt">プレイヤー、ブログRSS等追加</dd>
      <dt>本サイト開設（2014/12/01）</dt>
      <dd class="informationTxt"> </dd>
    </dl>
  </li>
  <li class="liveSchedule">
  <h3>Live schedule</h3>
    <dl class="scheduleApi">
      <dt><a class="jsShowModal" href="">過去のスケジュール一覧を見る</a></dt>
      <dd></dd>
    </dl>
    <p class="formLink"> チケットをご希望の方は<a href="#show" id="show">メールフォーム</a>にて、ご予約ください。 </p>
  </li>
</ul>