<div class="mainAreaTopLeft">
    <ul id="tabTitles" class="tabTitles">
        <li id="tabLiveSchedule">live schedule</li>
        <li id="tabBiography">biography</li>
        <li id="tabBlog">blog</li>
    </ul>
    <div id="tabContents" class="tabContents"></div>
</div>
<div class="mainAreaTopRight"><img src="" alt=""></div>