@charset "UTF-8";

/*--  共通設定  -------------------------------------*/
@import './partials/common/_setting'
/*--  //共通設定  -----------------------------------*/

/*--  ヘッダーエリア  ---------------------------------*/
@import './partials/common/_header'
/*--  //ヘッダーエリア  -------------------------------*/

/*--  メイン全体  -------------------------------------*/
@import './partials/_mainArea'
/*--  //メイン全体  -----------------------------------*/

/*--  メイン上部エリア  -------------------------------*/
@import './partials/_mainAreaTop'
/*--  //メイン上部エリア  -----------------------------*/

/*--  メイン下部エリア  -------------------------------*/
@import './partials/_mainAreaBottom'
/*--  //メイン下部エリア  -----------------------------*/

/*--  フッターエリア  ---------------------------------*/
@import './partials/common/_footer'
/*--  //フッターエリア  -------------------------------*/

/*--  モーダル  ---------------------------------*/
@import './partials/common/_modal'
/*--  //モーダル  -------------------------------*/

/*--  トップへ戻る  ---------------------------------*/
@import './partials/common/_returnTop'
/*--  //トップへ戻る  -------------------------------*/

/*--  pageIntro  ----------------------------------*/
@import './partials/_pageIntro'
/*--  //pageIntro  ----------------------------------*/
