<div class="headerVideo">
    <video autoplay loop>
        <source src="/movie/filmnoize.mp4" >
    </video>
</div>
<div class="headLeft">
    <h1>
        <img src="/img/logo.png" alt="ツユクサ">
        <p>東京都・神奈川県で音楽活動を行なうアーティスト<br>『ツユクサ』のオフィシャルサイト</p>
    </h1>
</div>
<div class="headRight"><img src="/img/topObject.png" alt=""></div>
