.footer{
    margin: 40px 0 0;
    padding: 20px 0;
    > div{
        width: 960px;
        margin: 0 auto;
        clearfix();
        .twitterArea {
            width: 500px;
            float: left;
        }
        .footerContentsLeft {
            width: 410px;
            float: left;
            padding: 0 0px 0 50px;
            dt {
                font-size: 16px;
                padding: 0 0 8px;
                border-bottom: 1px solid $borderColor;
            }
            dd {
                margin: 15px 0 0;
                span {
                }
            }
        }
    }
    > p{
        width: 960px;
        margin: 60px auto 0;
        font-size: 11px;
        text-align: center;
    }
}

// 960px以下のレイアウト
@media screen and (max-width: 960px) {

    .footer{
        > div{
            width: 100%;
            .twitterArea {
                width: auto;
                float: none;
                text-align: center;
            }
            .footerContentsLeft {
                width: 640px;
                float: none;
                padding: 0;
                margin: 20px auto 0;
            }
        }
        > p{
            width: 100%;
            margin: 60px auto 0;
            font-size: 11px;
            text-align: center;
        }
    }

}

// 640px以下のレイアウト
@media screen and (max-width: 640px) {

    .footer{
        > div{
            width: 94%;
            margin: 0 3%;
            .footerContentsLeft {
                width: 100%;
                float: none;
                padding: 0;
                margin: 20px 0 0;
            }
        }
    }

}
