h1 {
	font-size: 11px;
	color: $borderColorDark;
	border-bottom: $borderColorDark 1px solid;
	height: 18px;
	padding: 2px 0 0;
	p {
		width: 960px;
		margin: 0 auto;
		height: 20px;
	}
}
.head{
	clear: both;
	.headLeft{
		width: 640px;
		float: left;
		> div{
			clear: both;
			overflow: hidden;
		}
		h2{
			float: left;
			width: 133px;
			height: 52px;
			padding: 18px 0 0;
			img{
				width: 114px;
				height: 26px;
			}
		}
		ul{
			float: left;
			position: relative;
			overflow: hidden;
			padding: 24px 0 0 0;
			li{
				padding: 0 20px;
				float: left;
				border-left: 1px solid $borderColor;
				&:last-child{
					padding: 0 20px;
					float: left;
					border-left: 1px solid $borderColor;
					border-right: 1px solid $borderColor;
				}
				a{
					height: 70px;
					vertical-align: middle;
					color:$txtColor;
				}
			}
		}
		.mainSlider{
			padding: 0;
			.active{
				z-index: 9;
			}
			li{
				border: none;
				padding: 0;
				&:last-child{
					padding: 0;
					border: none;
				}
			}
			.notFirstImg{
				display: none;
				position: absolute;
				top: 0;
			}
		}
	}
	.headRight{
		width: 320px;
		float: left;
		margin: 0 0 30px;
	}
}