// var
mainColor = #263260
$txtColor = #777
$borderColor = #e2dfdb
$borderColorDark = #a79d8f

// mixin
clearfix() {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

// common
a:link, a visited {
  color: #442660;
}
a:hover {
  text-decoration: underline;
}
.wrap{
    width: 960px;
    margin: 0 auto;
}

// 960px以下のレイアウト
@media screen and (max-width: 960px) {

    .wrap{
        width: 640px;
    }

}

// 640px以下のレイアウト
@media screen and (max-width: 640px) {

    .wrap{
        width: 94%;
        margin: 0 3%;
    }

}
