@charset "utf-8";

// webフォント Noto Sans Japanese の読み込み
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
    margin:0;
    padding:0;
}
body {
    font-size:12px;
    letter-spacing: 0.13em;
    font-family: 'Noto Sans Japanese', 'メイリオ', sans-serif;
    font-weight: 200;
    color: #777;
    background-color: #fff;
}
li,dd{
    list-style: none;
}
table{
    border-collapse:collapse;
    border-style:none;
}

h1,h2,h3,h4,h5,h6,p,table,ul,ol,dl{
    margin: 0;
    font-weight: 200;
}

img{
    border:none;
    vertical-align:bottom;
}

a{
    text-decoration: none;
}
