<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link href="http://tsuyu9sa.com/" rel="canonical">
    <link href="http://tsuyu9sa.com/" rel="index">

    <title>『ツユクサ』オフィシャルサイト</title>
    <meta name="author" content="ツユクサ">
    <meta name="code" scheme="081">
    <meta name="description" content="東京都・神奈川県で音楽活動を行なうアーティスト『ツユクサ』のオフィシャルサイト">
    <meta name="keywords" content="東京都,神奈川県,弾き語り,ツユクサ,アーティスト,音楽">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/img/favicon4.ico" />

    <!--  css  -->
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/jquery.remodal.css" media="screen" rel="stylesheet" type="text/css">

    <!--  js  -->
    <script type="text/javascript" src="/js/app.js"></script>

</head>

<body>

    <div class="wrap">

        <!--  ヘッダー  -->
        <div id="header" class="header"></div>
        <!--  // ヘッダー  -->

        <!-- topページコンテンツ -->
        <section id="mainArea" class="mainArea">

            <!--  コンテンツ上部  -->
            <div id="mainAreaTop" class="mainAreaTop"></div>
            <!--  //コンテンツ上部  -->

            <!--  コンテンツ下部  -->
            <div id="mainAreaBottom" class="mainAreaBottom"></div>
            <!--  //コンテンツ下部  -->

        </section>
        <!-- //topページコンテンツ -->

        <!-- blogページコンテンツ -->
        <section id="blogArea" class="blogArea">

            <!-- ブログ記事 -->
            <ul id="blogAreaArticle" class="blogAreaArticle"></ul>
            <!-- //ブログ記事 -->

        </section>
        <!-- //blogページコンテンツ -->

    </div>

    <!-- データベースに追加する -->
    <form method="post" action="/blog">
        <input type="hidden" value="uploadDate" name="uploadDate">
        <input type="hidden" value="category" name="category">
        <input type="hidden" value="[title]" name="title">
        <input type="hidden" value="text" name="text">
        <input type="hidden" value="imgSrc1" name="imgSrc1">
        <input type="hidden" value="4" name="index">
        <input type="submit">
    </form>
    <!-- //データベースに追加する -->

    <!-- データベースから削除する -->
    <form method="post" action="/blog/5677d768c74416a92f4132a5?_method=delete">
        <input type="submit">
    </form>
    <!-- //データベースから削除する -->

    <!-- データベースを更新する -->
    <form method="post" action="/blog/5677d6edc74416a92f4132a4?_method=put">
        <input type="hidden" value="uploadDate2" name="uploadDate">
        <input type="hidden" value="category2" name="category">
        <input type="hidden" value="[title2]" name="title">
        <input type="hidden" value="text2" name="text">
        <input type="hidden" value="imgSrc12" name="imgSrc1">
        <input type="hidden" value="42" name="index">
        <input type="submit">
    </form>
    <!-- //データベースを更新する -->

    <!--  フッター  -->
    <div id="footer" class="footer"></div>
    <!--  //フッター  -->

    <!-- イントロ -->
    <!-- <div class="pageIntro">
      <div>
        <canvas id="introCanvas" width="150px" height="50px"></canvas>
        <img src="img/logoHeader.png" alt="ツユクサ">
        <p class="goTop"><span>TOPへ</span></p>
      </div>
    </div> -->

    <!--  トップへ戻る  -->
    <p class="returnTop">
      <span>&#8743;</span>
    </p>

    <!-- 詩を表示するモーダル -->
    <div id="overlay"></div>
    <div id="modalPoetry">
        <div id="modalPoetryClose" class="modalPoetryClose"><img src="/img/modalPoetryClose.png" alt="閉じる"></div>
        <ul id="modalPoetryContents" class="modalPoetryContents">
            <li>
                <dl>
                    <dt>雨音サンプル</dt>
                    <dd>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル<br>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル<br>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル<br>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</dd>
                </dl>
            </li>
        </ul>
        <ul id="modalPoetryCtrl" class="modalPoetryCtrl">
            <li id="modalPoetryCtrlLeft" class="modalPoetryCtrlLeft"><img src="/img/modalPoetryArrowLeft.png" alt="左"></li>
            <li id="modalPoetryCtrlRight" class="modalPoetryCtrlRight"><img src="/img/modalPoetryArrowRight.png" alt="右"></li>
        </ul>
    </div>

    <!--     Google Analytics     -->
    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51764917-2', 'auto');
      ga('send', 'pageview');
    </script> -->

    <!--     フィード読み込み処理     -->
    <!-- <script type="text/javascript">
    google.load("feeds", "1");
    function initialize() {
         //読み込み最大記事数
         var max_length = 5;
          //RSSを指定
          var feed = new google.feeds.Feed("http://tsuyu9sa.com/blog/feed");
          feed.setNumEntries(max_length);
          feed.load(function(result) {
            if (!result.error) {
              var container = document.getElementById("feed");
              for (var i = 0; i < result.feed.entries.length  ; i++) {
                var entry = result.feed.entries[i];
                var title = entry.title;　//記事タイトル
                var link = entry.link; //記事へのリンク

                var content = entry.content; //記事の内容
                var snippet = entry.contentSnippet; //記事の要約
                var publishedDate = entry.publishedDate; //投稿日
                var category = entry.categories[0]; //カテゴリー

               //タイトルを挿入
               $('#feed').append("<li><a href='" + link  +"'>"+ title +"</a></li>");
               $('#feed a').attr({target:"_blank"});
              }
            }
          });
    }
    google.setOnLoadCallback(initialize);
    </script> -->

</body>
</html>
