.mainAreaBottom {
    height: 300px;
    clear: both;
    margin: 40px 0;
    padding: 40px 0;
    border-top: 1px dotted #e2dfdb;
    h3{
        color: #fff;
        font-size: 16px;
        margin: 0 0 15px;
        font-weight: bold;
        background: #888;
        padding: 5px 0 4px 10px;
        border-radius: 4px;
        text-shadow: 1px 2px 2px #888;
    }
    .contentsBottomLeft{
        height: 300px;
        border-right: 1px solid $borderColor;
        width: 614px;
        padding: 0 20px 0 0;
        float: left;
        h4{
            font-size: 16px;
            span{
                font-size: 11px;
                padding: 0 0 0 10px;
            }
        }
        .cd{
            margin: 0px 0 15px;
            ul{
                li{
                    margin: 0px 0 10px;
                    .activeSong {
                        background-color: #f3f3f3;
                        /* color: #fff; */
                        border-radius: 3px;
                        /* font-weight: bold; */
                        border: solid 1px #ccc;
                    }
                }
            }
        }
    }
    .contentsBottomRight{
        width: 305px;
        padding: 0 0px 0 20px;
        float: left;
    }
    .feedArea{
        // background-color: #efefef;
        // padding: 20px;
        li {
            padding: 0 0 10px;
        }
    }
    .feedAreaCaption{
        font-size: 13px;
        margin: 0 0 10px;
    }
}