/*
* commons
*/

// title
.mainAreaBottomTitle {
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}

/*
* style
*/

// container
.mainAreaBottom {
    clearfix();
    overflow: hidden;
    border-top: 1px solid $borderColor;
}

// culmn
.mainAreaBottomLeft{
    width: 279px;
    float: left;
    border-right: 1px solid $borderColor;
    dt {
        @extend .mainAreaBottomTitle
    }
    dd {
        font-size: 12px;
        padding: 5px 25px 20px;
    }
}
.mainAreaBottomRight{
    width: 640px;
    float: left;
    dt {
        @extend .mainAreaBottomTitle
    }
}
.feedArea{
    // background-color: #efefef;
    // padding: 20px;
    li {
        padding: 0 0 10px;
    }
}
.feedAreaCaption{
    font-size: 13px;
    margin: 0 0 10px;
}
