/*
* commons
*/

// title
.mainAreaBottomTitle {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
}

/*
* style
*/

// container
.mainAreaBottom {
    clearfix();
    overflow: hidden;
    border-top: 1px solid $borderColor;
}

// culmn
.mainAreaBottomLeft{
    width: 279px;
    float: left;
    border-right: 1px solid $borderColor;
    > dt {
        @extend .mainAreaBottomTitle
    }
    dd {
        font-size: 12px;
        padding: 5px 25px 20px;
    }
}
.mainAreaBottomRight{
    clearfix();
    width: 590px;
    padding: 0 25px;
    float: left;
    > dt {
        @extend .mainAreaBottomTitle
    }
    > dd {
        > ul {
            overflow: hidden;
            width: 369px;
            margin: 0 auto;
        }
    }
}
.playBox {
    width: 163px;
    float: left;
    padding: 0 20px 12px 0;
    margin: 5px 22px 0 0;
    border-right: 1px solid $borderColor;
    &:last-child {
        border: none;
        padding-right: 0;
        margin-right: 0;
    }
    dl {
        dt {
            font-size: 13px;
            line-height: 1;
            text-align: center;
            padding: 8px 0 15px;
        }
        dd {
            width: 22px;
            float: left;
            line-height: 1;
            margin: 0 5px 0 0;
            &.playIcon,
            &.pauseIcon,
            &.stopIcon,
            &.prevCtrlIcon,
            &.nextCtrlIcon {
                cursor: pointer;
            }
            &.prevCtrlIcon,
            &.nextCtrlIcon,
            &.currentTimeIcon {
                margin-top: 1px;
            }
            &.timeIcon,
            &.currentTimeIcon {
                cursor: default;
            }
            &.playIcon {
                width: 0px;
                height: 0;
                border: 7.5px solid transparent;
                border-left: 12px solid #777777;
            }
            &.stopIcon {
                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: #777777;
                    display: inline-block;
                }
            }
            &.currentTimeIcon {
                width: auto;
                margin-right: 0;
            }
            img {
                width: 15px;
                vertical-align: top;
            }
        }
    }
}
