.mainArea {
    width: 960px;
    margin: 0 auto;
    border: 1px solid $borderColor;
}

// 960px以下のレイアウト
@media screen and (max-width: 960px) {

    .mainArea {
        width: 100%;
    }

}
