<div>
    <dl class="footerContentsLeft">
        <dt>logs</dt>
        <dd><span>2016/01/01</span> サイトリニューアル</dd>
    </dl>
    <div class="twitterArea">
        <a class="twitter-timeline" href="https://twitter.com/tsuyukusa_rk" data-widget-id="682438660319412224" width="500">@tsuyukusa_rkさんのツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
<p>Copyright&copy; Tsuyukusa All Right Reserved</p>
