<div class="headLeft">
    <div>
        <h2><img src="img/logoHeader.png" alt="ツユクサ"></h2>
        <ul>
            <li><a href="./blog/index.php" target="_blank">Blog</a></li>
            <li><a href="https://myspace.com/tsuyukusa" target="_blank">Myspace</a></li>
            <li><a href="https://www.facebook.com/tsuyukusa.music" target="_blank">Facebook</a></li>
        </ul>
    </div>
    <ul class="mainSlider">
        <li class="active"><img src="img/topMain4.jpg" alt=""></li>
        <li class="notFirstImg"><img src="img/topMain.jpg" alt=""></li>
    </ul>
</div>
<div class="headRight"> <img src="img/topMainRight.jpg" alt=""> </div>